<h1>Create a New Team</h1>

<form action='/teams/new' method='POST'>
  <p>Team Name: <input type="text" name="name"></p>
  <p>Team City: <input type="text" name="city"></p>
  <p>Team Logo: <input type="text" name="logo_url"></p>
  <input type="submit" value="Create Team" class="btn btn-success">
</form>