<h1>This is my cool signup form</h1>

<form method="POST" action="/signup">
  <label for="email">Email:</label><br/>
  <input type="email" id="email" name="email" /><br/>

  <label for="password">Password</label><br/>
  <input type="password" id="password" name="password" /><br/>

  <input type="submit" value="Signup!!" class="btn btn-success" />
</form>