<div class="container">
  <section class="team-header">
    <img src="<%= @team.logo_url %>">
    <h1><%= @team.city %> <%= @team.name %> Team Page</h1>
  </section>

  <div class="row">
    <section class="add-player-form col-sm-6">
      <h4>Add a Player Here</h4>
      
    </section>

    <section class="players-table col-sm-6">
      <table class="table table-striped">
        <tr>
          <th>Player Name</th>
          <th>Player Age</th>
          <th>Player Jersey Number</th>
        </tr>
        
      </table>    
    </section>
  </div>

</div>
